.navbar-custom {
  margin: 0;
}

.jumbotron-custom {
  background: #43853d;
  color: #fff
}

.jumbotron-custom .btn-node {
  background: #333;
  color: #fff;
  position: relative;
  transition: all .2s ease-in-out;
  bottom: 0;
}

.jumbotron-custom .btn-node:hover {
  bottom: -1px;
}