<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron jumbotron-custom">
        <div class="container">
            <h1>Aplicação em Node.js</h1>
            <p>Esta aplicação tem o propósito de iniciar o desenvolvimento em Node.js</p>
            <p><a class="btn btn-node btn-lg" href="https://nodejs.org/en/" target="_blank" role="button">Saiba mais sobre o node</a></p>
        </div>
    </div>
</body>

</html>